<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <p>
            Welcome to your account page! Here you can find some account information and a list of applications you authorized.
        </p>

        <h2>Info</h2>
        <table> 
            <tr>
                <th>
                    <span title="Use this address in the remoteStorage Widget to connect to this storage server.">User Address</span>
                </th>
                <td>{{ user_id|e }}@{{ host|e }}</td>
            </tr>
            <tr>
                <th><span title="The total amount of storage used on this storage server.">Usage</span></th>
                <td>{{ disk_usage|e }}</td>
            </tr>
        </table>

        <!-- logout -->
        <form method="post" action="{{ requestRoot }}_form/auth/logout">
            <button type="submit">Logout</button>
        </form>

        <h2>Applications</h2>
        <p>
            <a href="https://wiki.remotestorage.io/Apps">Here</a> you can find 
            a list of applications supporting 
            <a href="https://remotestorage.io/">remoteStorage</a>.
        </p>
        
        <p>
        This is the list of applications that have access to your remoteStorage
        data. You can revoke their access here.
        </p>
        
        {% if not approval_list %}
            <p class="plain">
                No permissions granted yet! You need to use an application first ☺
            </p>
        {% else %}
            <table class="striped">
                <thead>
                    <tr><th>Application</th><th>Permissions</th><th></th></tr>
                </thead>
                <tbody>
                {% for approval in approval_list %}
                    <tr>
                        <td><a href="{{ approval.getClientId|e }}"><code>{{ approval.getClientId|e }}</code></a></td>                    
                        <td><code>{{ approval.getScope|e }}</code></td>
                        <td class="text-right">
                            <form class="button" method="post" action="{{ requestRoot }}_approvals?client_id={{ approval.getClientId|e }}&amp;response_type={{ approval.getResponseType|e }}&amp;scope={{ approval.getScope|e }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <button type="submit" class="error">Revoke</button>
                            </form>
                        </td>
                    </tr>                
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
