<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        <h2>Account Information</h2>

        <table> 
            <tr><th>Username</th><td>{{ user_id|e }}</td></tr>
            <tr><th>Usage</th><td>{{ disk_usage|e }}</td></tr>
        </table>

        <!-- logout -->
        <form method="post" action="{{ rootFolder|e }}_auth/form/logout">
            <button type="submit">Logout</button>
        </form>

        <h2>Applications</h2>    
        <p>
        This is a list of applications you gave access to your <a href="https://remotestorage.io/">remoteStorage</a>
        data. If you revoke the access, the application can no longer use the 
        issued tokens and has to ask your permission again!
        </p>
        
        {% if not approval_list %}
            <p class="plain">No permissions granted yet! You need to use an application first :-)</p>
        {% else %}
            <table>
                <tr><th>Application</th><th>Permissions</th><th></th></tr>
                {% for approval in approval_list %}
                <tr>
                    <td><code>{{ approval.getClientId|e }}</code></td>                    
                    <td><code>{{ approval.getScope|e }}</code></td>
                    <td>
                        <form method="post" action="{{ rootFolder|e }}_approvals?client_id={{ approval.getClientId|e }}&amp;response_type={{ approval.getResponseType|e }}&amp;scope={{ approval.getScope|e }}">
                            <input type="hidden" name="_METHOD" value="DELETE">
                            <button type="submit" class="error">Revoke</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div> <!-- /container -->
</body>
</html>
