<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        Welcome to your account page! Here you can find some account information and a list of applications you authorized.
    </p>

    <h2>Info</h2>
    <table> 
        <tr>
            <th>
                <span title="Use this address in the remoteStorage Widget to connect to this storage server.">User Address</span>
            </th>
            <td>{{ user_id }}@{{ host }}</td>
        </tr>
        <tr>
            <th><span title="The total amount of storage used on this storage server.">Usage</span></th>
            <td>{{ disk_usage }}</td>
        </tr>
    </table>

    <!-- logout -->
    <form method="post" action="{{ requestRoot }}_auth/form/logout">
        <fieldset>
            <button type="submit">Sign Out</button>
        </fieldset>    
    </form>

    <h2>Applications</h2>
    <p>
        <a href="https://wiki.remotestorage.io/Apps">Here</a> you can find 
        a list of applications supporting 
        <a href="https://remotestorage.io/">remoteStorage</a>.
    </p>
    
    <p>
    This is the list of applications that have access to your remoteStorage
    data. You can revoke their access here.
    </p>
    
    {% if not approval_list %}
        <p class="plain">
            No permissions granted yet! You need to use an application first ☺
        </p>
    {% else %}
        <table class="striped">
            <thead>
                <tr><th>Application</th><th>Permissions</th><th></th></tr>
            </thead>
            <tbody>
            {% for approval in approval_list %}
                <tr>
                    <td><a href="{{ approval.client_id }}"><code>{{ approval.client_id }}</code></a></td>                    
                    <td><code>{{ approval.scope }}</code></td>
                    <td class="text-right">
                        <form method="post">
                            <input type="hidden" name="client_id" value="{{ approval.client_id }}">
                            <input type="hidden" name="scope" value="{{ approval.scope }}">
                            <button type="submit" class="error">Revoke</button>
                        </form>
                    </td>
                </tr>                
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'footer.twig' %}

</body>
</html>
