<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>OAuth</title>
</head>
<body>
    <div id="container">
        <div class="header">
            <a href="https://remotestorage.io/"><img src="../img/rs.svg" alt="remoteStorage"></a>
            <h1>remoteStorage</h1>
        </div>

<!--
        {% if not has_state %}
            <p class="warning">
                The client does not use the <code>state</code> parameter to 
                avoid CSRF! This is <a href="https://github.com/remotestorage/remotestorage.js/issues/900">probably</a> secure in case of 
                <a href="https://github.com/remotestorage/remotestorage.js">remotestorage.js</a>.
            </p>
        {% endif %}
-->
        <p>An application wants to have access to your remoteStorage account:</p>

        <table>
            <tr><th>User ID</th><td><code>{{ user_id|e }}</code></td></tr>
            <tr><th>Client ID</th><td><code>{{ client_id|e }}</code></td></tr>
            <tr><th>Redirect URI</th><td><code>{{ redirect_uri|e }}</code></td></tr>
            <tr><th>Scope</th><td><code>{{ scope|e }}</code></td></tr>
        </table>

        <form method="post" action="{{ request_url|e }}">
            <button class="error" type="submit" name="approval" value="no">Reject</button>
            <button class="info"  type="submit" name="approval" value="yes" autofocus>Approve</button>
        </form>
    </div> <!-- /container -->
</body>
</html>
