{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    <h3>Info</h3>
    <table> 
        <tr>
            <th>
                <span title="Use this address in the remoteStorage Widget to connect to this storage server.">User Address</span>
            </th>
            <td><code>{{ user_address }}</code></td>
        </tr>
        <tr>
            <th><span title="The total amount of storage used on this storage server.">Usage</span></th>
            <td>{{ disk_usage }}</td>
        </tr>
    </table>

    <h3>Authorized Applications</h3>    
    {% if not approval_list %}
        <p>
            No applications have been granted permissions yet!
        </p>
    {% else %}
        <p>
        This is the list of applications that have access to your remoteStorage
        data. You can revoke their access here.
        </p>

        <table>
            <thead>
                <tr><th>Application</th><th>Permission(s)</th><th></th></tr>
            </thead>
            <tbody>
            {% for approval in approval_list %}
                <tr>
                    <td><a href="{{ approval.client_id }}">{{ approval.client_id }}</a></td>                    
                    <td><code>{{ approval.scope }}</code></td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="client_id" value="{{ approval.client_id }}">
                            <input type="hidden" name="scope" value="{{ approval.scope }}">
                            <button type="submit">Revoke</button>
                        </form>
                    </td>
                </tr>                
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
